<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="background:#EEEEEE">

  <div id="header" style="background:#007BA0;">
    <div class="row-fluid" style="margin-bottom: 0px; margin-top:0px; display: flex; align-items: center; height:50px">
      <div class="col-sm-6 col-sm-offset-2 hidden-xs text-left">
        <img src="{{url_for('static', filename='logo.png')}}" width="100px">
      </div>
    </div>
  </div>

  <div id="section1">
    <div class="row-fluid">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h1>Welcome to the smart EDITx Tutorial</h1>
      </div>
    </div>
  </div>

  <div id="section2">
    <div class="row-fluid">
      <div class="col-lg-6 col-lg-offset-3">
        <form action="{{ url_for('question_list') }}" method="post">
          <div class="input-group">
            <input type="text" class="form-control" name="user" placeholder="Enter your lastname..">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Start Tutorial</button>
            </span>
          </div>
        </form>

      </div>
    </div>
  </div>


</body>

</html>
