<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
  .header-username: {
    margin-bottom:0px;
    color:#fff;
    font-size:20px
  }
  </style>
</head>

<body style="background:#EEEEEE">

  <div id="header" style="background:#007BA0;">
    <div class="row-fluid" style="margin-bottom: 0px; margin-top:0px; display: flex; align-items: center; height:50px">
      <div class="col-sm-6 col-sm-offset-2 hidden-xs text-left">
        <img src="{{url_for('static', filename='logo.png')}}" width="100px">
      </div>
      <div class="col-sm-2 text-right">
        <p style="margin-bottom:0px; color:#fff; font-size:20px">{{my_fullname}}</p>
      </div>
    </div>
  </div>

  <div id="section1" style="margin-top:50px">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h3>The tutorial is over! Come back tomorrow to do a new one</h3>
      </div>
    </div>
  </div>

</body>

</html>
